{% include 'users/dealer/dealer_base.html' %}

{% block content %}

<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <div class="flex items-center justify-center h-58 mb-4 rounded bg-white-50">
            <form method="post" class="w-full">
                {% csrf_token %}
                <div>
                    <label for="id_product" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select product</label>
                    <select name="product" id="id_product" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="">Select Product</option>
                        {% for product in products %}
                            <option value="{{ product.pk }}" data-price="{{ product.price_for_dealer }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>
                    {% if form.errors.product %}
                        <p>{{ form.errors.product }}</p>
                    {% endif %}
                </div>
                <div>
                    <label for="id_price" class="block mb-2 text-sm font-medium text-gray-900">Product Price</label>
                    <input type="text" id="id_price" name="price" class="shadow-sm bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" readonly/>
                </div>
                <div>
                    <label for="id_size" class="block mb-2 text-sm font-medium text-gray-900">Product Size</label>
                    <input type="text" id="id_size" name="size" class="shadow-sm bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="{{ form.size.field.help_text }}" required/>
                </div>
                <div>
                    <label for="id_quantity" class="block mb-2 text-sm font-medium text-gray-900">Quantity</label>
                    <input type="number" id="id_quantity" name="quantity" class="shadow-sm bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="{{ form.quantity.field.help_text }}" required/>
                </div>
                <button type="submit" class="mt-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            </form>
        </div>
       <div class="flex items-center justify-center h-58 mb-4 rounded bg-white-50">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                        Our products
                        <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Browse a list of Flowbite products designed to help you work and play, stay organized, get answers, keep in touch, grow your business, and more.</p>
                    </caption>
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Product name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Size
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Quantity
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Total Price
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in request.session.cart %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ purchase.product_name }}
                            </th>
                            <td class="px-6 py-4">
                                {{ purchase.size }}
                            </td>
                            <td class="px-6 py-4">
                                {{ purchase.quantity }}
                            </td>
                            <td class="px-6 py-4">
                                {{ purchase.total_price }}
                            </td>
                            <td class="px-6 py-4 text-right">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{% url 'checkout' %}" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Checkout
            </a>
    </div>
 </div>

 <script>
    document.getElementById('id_product').addEventListener('change', function() {
        var selectedOption = this.selectedOptions[0];
        var price = selectedOption.getAttribute('data-price');
        document.getElementById('id_price').value = price;
    });

 
    window.onbeforeunload = function() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/products/clear-cart/", true);
        xhr.send();
    };

</script>

{% endblock %}

