{% include 'users/owner/owner_base.html' %}

{% block content %}

<div class="max-w-sm mx-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            Our products
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Browse a list of Flowbite products designed to help you work and play, stay organized, get answers, keep in touch, grow your business, and more.</p>
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Product name
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Available Sizes
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Stock Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Price for Dealer
                </th>
                <th scope="col" class="px-6 py-3">
                    Maximum Retail Price
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ product.name }}
                </td>
                <td class="px-6 py-4">
                    {{ product.description }}
                </td>
                <td class="px-6 py-4">
                    {{ product.available_sizes }}
                </td>
                <td class="px-6 py-4">
                    {{ product.category }}
                </td>
                <td class="px-6 py-4">
                    {{ product.stock_quantity }}
                </td>
                <td class="px-6 py-4">
                    {{ product.price_for_dealer }}
                </td>
                <td class="px-6 py-4">
                    {{ product.maximum_retail_price }}
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}