{% include 'users/owner/owner_base.html' %}

{% block content %}

<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                Retailer List
                <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Browse a list of Flowbite products designed to help you work and play, stay organized, get answers, keep in touch, grow your business, and more.</p>
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Address
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Pincode
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Contact Number
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Created By
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Created At
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Updated At
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for retailer in retailers %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ retailer.name }}
                    </th>
                    <td class="px-6 py-4">
                        {{ retailer.address }}
                    </td>
                    <td class="px-6 py-4">
                        {{ retailer.pincode }}
                    </td>
                    <td class="px-6 py-4">
                        {{ retailer.contact_number }}
                    </td>
                    <td class="px-6 py-4">
                        {{ retailer.created_by.first_name }} {{ retailer.created_by.last_name }}
                    </td>
                    <td class="px-6 py-4">
                        {{ retailer.created_at }}
                    </td>
                    <td class="px-6 py-4">
                        {{ retailer.updated_at }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}


<!-- class Retailer(models.Model):
    name = models.CharField(max_length=200, default='Default Retailer Name')
    address = models.TextField(default='Default Address')
    pincode = models.CharField(max_length=10, default='Default Pincode')
    contact_number = models.CharField(max_length=20, default='Default Contact Number')
    created_by = models.ForeignKey('auth.User', on_delete=models.CASCADE, related_name='retailers', null=True, blank=True)
    created_at = models.DateTimeField(default=timezone.now)
    updated_at = models.DateTimeField(auto_now=True)

    def __str__(self):
        return self.name -->