{% include 'users/employee/employee_base.html' %}

{% block content %}

<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">     
        {% if orders %}
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                My Orders
                <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Browse a list of Flowbite products designed to help you work and play, stay organized, get answers, keep in touch, grow your business, and more.</p>
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                <th scope="col" class="px-6 py-3">Order ID</th>
                <th scope="col" class="px-6 py-3">Order Date</th>
                <th scope="col" class="px-6 py-3">Dealer</th>
                <th scope="col" class="px-6 py-3">Retailer</th>
                <th scope="col" class="px-6 py-3">Status</th>
                <th scope="col" class="px-6 py-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">{{ order.pk }}</td>
                    <td class="px-6 py-4">{{ order.order_date }}</td>
                    <td class="px-6 py-4">{{ order.dealer.first_name }} {{ order.dealer.last_name }}</td>
                    <td class="px-6 py-4">{{ order.retailer.name }}</td>
                    <td class="px-6 py-4">{{ order.get_status_display }}</td>
                    <td class="px-6 py-4">
                    <a href="{% url 'order-summary' order.pk %}">View</a>
                    <!-- Add other action links as needed -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        {% else %}
            <p>You have not created any orders yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}