{% include 'users/employee/employee_base.html' %}

{% block content %}

<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
      <h1>Create Order</h1>
      <form method="post">
        {% csrf_token %}
        <div class="mb-5">
          <label for="id_dealer" class="block mb-2 text-sm font-medium text-gray-900">Dealer</label>
          <select id="id_dealer" name="dealer" class="shadow-sm bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
              <option value="">--Select Dealer--</option>
              {% for dealer in dealers %}
              <option value="{{ dealer.pk }}">{{ dealer.first_name }} {{ dealer.last_name }}</option>
              {% endfor %}
          </select>
      </div>

      <div class="mb-5">
          <label for="id_retailer" class="block mb-2 text-sm font-medium text-gray-900">Retailer</label>
          <select id="id_retailer" name="retailer" class="shadow-sm bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
              <option value="">--Select Retailer--</option>
              {% for retailer in retailers %}
              <option value="{{ retailer.pk }}">{{ retailer.name }}</option>
              {% endfor %}
          </select>
      </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Next</button>
      </form>
    </div>
</div>
{% endblock %}