{% include 'users/employee/employee_base.html' %}

{% block content %}

<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                Dealer List
                <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Browse a list of Flowbite products designed to help you work and play, stay organized, get answers, keep in touch, grow your business, and more.</p>
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Dealer Code
                    </th>
                    <th scope="col" class="px-6 py-3">
                        First name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Last name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Phone
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Agreement Accepted
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for dealer in users %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">
                        DL0{{ dealer.id }}
                    </td>
                    <td class="px-6 py-4">
                        {{ dealer.first_name }}
                    </td>
                    <td class="px-6 py-4">
                        {{ dealer.last_name }}
                    </td>
                    <td class="px-6 py-4">
                        {{ dealer.phone }}
                    </td>
                    <td class="px-6 py-4">
                        {{ dealer.email }}
                    </td>
                    <td class="px-6 py-4">
                        {{ dealer.agreement_accepted }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}